
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
 
h1 {
   font-family: "Cabin", sans-serif;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal;
   font-variation-settings:
     "wdth" 100;
}
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lilita+One&family=Yarndings+20&display=swap');
p
   .lilita-one-regular {
       font-family: "Lilita One", sans-serif;
       font-weight: 400;
       font-style: normal;
     }
span {
   background-color: black;
   color: greenyellow;
   font-family:'Cabin', Times, serif;
}
body {
   background-color: black;
   text-align: center;
   color: aliceblue;
}
