
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap')
 
h1 { 
   font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap')
p{
   font-family: "Open Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal;
   font-variation-settings:
     "wdth" 100;
}
span{
   background-color: gray;
   color: greenyellow;
   font-family:'Cabin', Times, serif;
}
body {
   background-color: gray;
   text-align: center;
   color: black;
}
