@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap')
h1{
   font-family: "Oswald", sans-serif;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal;
  }
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap')
p{
   font-family: "Open Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal;
   font-variation-settings:
     "wdth" 100;
  }
  body{
    background-color: rgb(46, 46, 46);
    color: rgb(202, 138, 255);
    text-align: center;
    font-size: 79px;
  }
span{
    background-color: rgb(255, 8, 234);
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}